input[type=button] {
	background-color: white;
	padding: 5px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px groove #C2C2C2;
	margin: 5px 5px 0 0;
}

input[type=button]:hover {
	cursor: pointer;
}

input[type=button]:active {
	background-color: #C2C2C2;
	color: white;
}

input[type=button]:focus {
	outline: none;
}

label {
	display: inline-block;
	padding: 2px;
}

div.ui-datepicker{
	font-size:12px;
}

body {
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size:12px;
	margin: 20px;
}

/*
table td + td {
	text-align: center;
}
*/

#left {
	width: 65%;
	font-size:13px;
	line-height: 175%;
	display: inline-block;
}

#right {
	width: 32%;
	height: 96%;
	position: fixed;
	overflow: scroll;
	top: 20px;
	right: 9px;
	display: block;
	padding-right: 11px;
}

.ui-accordion .ui-accordion-content {
	padding: 1em;
}

.ui-accordion .ui-accordion-icons {
	outline: none;
}

a:visited { 
	color: blue;
}

a {
	text-decoration: none;
}

#patchlist div {
	overflow: hidden;
	border: 1px solid white;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 0 1em;
}

#patchlist div.selected {
	background-color: #E5E5E5;
}

#patchlist div:hover {
	border-color: grey;
}

span[asset] {
	display: inline-block;
	width: 100%;
}

span[asset]:hover {
	cursor: cell;
	background-color: grey;
}

span[asset].selected {
	background-color: orange;
}

.sortable-placeholder {
	border: 1px dashed grey !important;
}

.ui-widget-overlay
{
	z-index: 0;
}

#combinepop label,
#editpop label {
	display: block;
}

#combinepop input,
#editpop input {
	width: 97%;
}

.ui-tooltip {
	color: red;
	border-color: red;
}
