input[type=button] {
	background-color: white;
	padding: 5px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px groove #C2C2C2;
	margin: 5px 5px 0 0;
}

input[type=button]:hover {
	cursor: pointer;
}

input[type=button]:active {
	background-color: #E5E5E5;
}

input[type=button]:focus {
	outline: none;
}

input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#right label {
	display: inline-block;
	padding: 3px;
}

div.ui-datepicker{
	font-size:12px;
}

body {
	font-family: Arial, sans-serif;
	font-size:12px;
	margin: 20px;
}

table {
	border-collapse: collapse;
}

.hide {
	display: none;
}

#left {
	width: 65%;
	font-size: 13px;
	line-height: 175%;
	display: inline-block;
}

#left h2 {
	display: inline-block;
	margin-top: 0px;
}

#right {
	width: 32%;
	height: 96%;
	position: fixed;
	overflow: scroll;
	top: 20px;
	right: 9px;
	display: block;
	padding-right: 11px;
}

.ui-accordion .ui-accordion-content {
	padding: 1em;
}

.ui-accordion .ui-accordion-icons {
	outline: none;
}

a:visited { 
	color: blue;
}

a {
	text-decoration: none;
}

#patchlist div {
	overflow: hidden;
	border: 1px solid white;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 1em;
}

#patchlist div.selected {
	background-color: #E5E5E5;
	border-color: white !important;
}

#patchlist div:hover {
	border-color: grey;
}

span[asset] {
	display: inline-block;
	width: 100%;
}

span[asset]:hover {
	cursor: cell;
	background-color: grey;
}

span[asset].selected {
	background-color: orange;
}

.ui-widget-overlay
{
	z-index: 0;
}

#editpatch td,
#editasset td {
	padding: 5px;
}

#editpatch input[type=text],
#editasset input[type=text],
#editpatch select,
#editasset select {
	width: 100%;
	display: block;
}

#editinfo tr:nth-child(2n+2) td {
	border-bottom: 2px solid #E5E5E5;
}

.ui-tooltip {
	color: red;
	border-color: red;
}